# emacs + vi backup files
*~
.*.sw*

# various IDE junk
*.ipr
*.iml
*.iws
.project
.classpath
.settings

# artifacts, etc
eclipse-classes
classes
target

.externalToolBuilders

/.lein*
/.nrepl-port
pom.xml
.cljs_nashorn_repl/
nashorn_code_cache/
build.xml
test-results/
